Repository rropen/SFM, pull requests merged in 2021-09, with the labels that each got.

#5 Issue 3 initial backend config
  .gitignore
  src/backend/Dockerfile
  src/backend/__pypackages__/.gitignore
  src/backend/alembic.ini
  src/backend/alembic/README
  src/backend/alembic/__pycache__/env.cpython-38.pyc
  src/backend/alembic/env.py
  src/backend/alembic/script.py.mako
  src/backend/alembic/versions/1d3daaeebc36_first_migration.py
  src/backend/alembic/versions/__pycache__/1d3daaeebc36_first_migration.cpython-38.pyc
  src/backend/issues.db
  src/backend/pdm.lock
  src/backend/pyproject.toml
  src/backend/requirements.txt
  src/backend/sfm/__init__.py
  src/backend/sfm/__pycache__/__init__.cpython-38.pyc
  src/backend/sfm/__pycache__/database.cpython-38.pyc
  src/backend/sfm/__pycache__/main.cpython-38.pyc
  src/backend/sfm/__pycache__/models.cpython-38.pyc
  src/backend/sfm/__pycache__/schemas.cpython-38.pyc
  src/backend/sfm/database.py
  src/backend/sfm/main.py
  src/backend/sfm/models.py
  src/backend/sfm/routes/__init__.py
  src/backend/sfm/routes/__pycache__/__init__.cpython-38.pyc
  src/backend/sfm/routes/__pycache__/root.cpython-38.pyc
  src/backend/sfm/routes/issues/__init__.py
  src/backend/sfm/routes/issues/__pycache__/__init__.cpython-38.pyc
  src/backend/sfm/routes/issues/__pycache__/crud.cpython-38.pyc
  src/backend/sfm/routes/issues/__pycache__/routes.cpython-38.pyc
  src/backend/sfm/routes/issues/crud.py
  src/backend/sfm/routes/issues/routes.py
  src/backend/sfm/routes/root.py
  src/backend/tests/.coveragerc
  src/backend/tests/__init__.py
  src/backend/tests/conftest.py
  src/backend/tests/pytest.ini
  src/backend/tests/test_connection.py
  src/backend/tests/test_test.py
  src/dev-docker-compose.yml
  src/docker-compose.yml
  src/local-docker-compose.yml
Labels: feature

#11 refactor(full frontend): bring over files from MEC and strip out ever…
  src/frontend/.browserslistrc
  src/frontend/.env.example
  src/frontend/.env.fastAPI
  src/frontend/.husky/.gitignore
  src/frontend/.husky/commit-msg
  src/frontend/CHANGELOG.md
  src/frontend/Dockerfile
  src/frontend/LICENSE
  src/frontend/babel.config.js
  src/frontend/bin/vite
  src/frontend/cypress.json
  src/frontend/cypress/fixtures/example.json
  src/frontend/cypress/plugins/index.js
  src/frontend/cypress/support/commands.js
  src/frontend/cypress/support/index.js
  src/frontend/index.html
  src/frontend/nginx/default.conf
  src/frontend/nginx/nginx.conf
  src/frontend/package.json
  src/frontend/postcss.config.js
  src/frontend/public/favicon.ico
  src/frontend/public/index.html
  src/frontend/public/logo4.png
  src/frontend/src/App.vue
  src/frontend/src/assets/img/monogram.jpg
  src/frontend/src/assets/img/risks.png
  src/frontend/src/assets/logo.png
  src/frontend/src/components/Footer.vue
  src/frontend/src/components/Header.vue
  src/frontend/src/filters.js
  src/frontend/src/index.css
  src/frontend/src/main.js
  src/frontend/src/router/index.js
  src/frontend/src/store/index.js
  src/frontend/src/views/404.vue
  src/frontend/src/views/Home.vue
  src/frontend/src/vue.config.js.off
  src/frontend/tailwind-custom.config.js
  src/frontend/tailwind.config.js
  src/frontend/tailwind.config_default.js
  src/frontend/vite.config.js
  src/frontend/yarn.lock
Labels: feature, frontend

#20 19 debt add state manager & sidebar
  .gitignore
  package-lock.json
  src/frontend/.npmrc
  src/frontend/package.json
  src/frontend/src/App.vue
  src/frontend/src/main.ts
  src/frontend/src/shims-vue.d.ts
  src/frontend/src/store/index.js
  src/frontend/src/stores/main.ts
  src/frontend/src/views/404.vue
  src/frontend/src/views/Home.vue
  src/frontend/tailwind.config.js
  src/frontend/tsconfig.json
  src/frontend/yarn.lock
Labels: debt

#23 Responsive Header Feature
  src/frontend/src/components/Header.vue
  src/frontend/src/router/index.ts
  src/frontend/src/views/Home.vue
Labels: feature, frontend

#25 7 issue sfm specific database models
  .gitignore
  src/backend/alembic/__pycache__/env.cpython-38.pyc
  src/backend/alembic/env.py
  src/backend/alembic/versions/1d3daaeebc36_first_migration.py
  src/backend/alembic/versions/__pycache__/1d3daaeebc36_first_migration.cpython-38.pyc
  src/backend/config/__init__.py
  src/backend/issues.db
  src/backend/pdm.lock
  src/backend/requirements.txt
  src/backend/sfm/.pdm.toml
  src/backend/sfm/__pycache__/__init__.cpython-38.pyc
  src/backend/sfm/__pycache__/database.cpython-38.pyc
  src/backend/sfm/__pycache__/main.cpython-38.pyc
  src/backend/sfm/__pycache__/models.cpython-38.pyc
  src/backend/sfm/database.py
  src/backend/sfm/main.py
  src/backend/sfm/models.py
  src/backend/sfm/routes/__pycache__/__init__.cpython-38.pyc
  src/backend/sfm/routes/__pycache__/root.cpython-38.pyc
  src/backend/sfm/routes/issues/__pycache__/__init__.cpython-38.pyc
  src/backend/sfm/routes/issues/__pycache__/crud.cpython-38.pyc
  src/backend/sfm/routes/issues/__pycache__/routes.cpython-38.pyc
  src/backend/sfm/routes/issues/crud.py
  src/backend/sfm/routes/issues/routes.py
  src/backend/sfm/routes/projects/__init__.py
  src/backend/sfm/routes/projects/crud.py
  src/backend/sfm/routes/projects/routes.py
  src/backend/sfm/routes/work_items/__init__.py
  src/backend/sfm/routes/work_items/crud.py
  src/backend/sfm/routes/work_items/routes.py
  src/backend/sfm/utils.py
Labels: feature, backend

#32 fix(home view): update padding styling of Home page
  src/frontend/src/views/Home.vue
Labels: defect, frontend

#33 Catchup after changing default branch
  .gitignore
  src/frontend/example.npmrc
  src/frontend/example.yarnrc
  src/frontend/package.json
  src/frontend/src/App.vue
  src/frontend/src/views/Home.vue
  src/frontend/yarn.lock
  yarn.lock
Labels: debt

#34 29 line chart
  src/frontend/package.json
  src/frontend/src/main.ts
  src/frontend/src/views/Home.vue
  src/frontend/yarn.lock
  yarn.lock
Labels: feature, frontend

#41 Refactor Home.vue
  .gitignore
  DEVELOPER.md
  src/backend/sfm/routes/projects/routes.py
  src/frontend/.env.development.local.example
  src/frontend/.env.example
  src/frontend/.env.fastAPI
  src/frontend/.env.local.example
  src/frontend/cypress.json
  src/frontend/package.json
  src/frontend/src/App.vue
  src/frontend/src/components/Footer.vue
  src/frontend/src/main.ts
  src/frontend/src/types.ts
  src/frontend/src/utils.spec.ts
  src/frontend/src/utils.ts
  src/frontend/src/views/Home.vue
Labels: debt, frontend
